$yellow: rgb(240,200,0);
$red: rgb(203, 0, 0);
$green: rgb(30, 157, 11);
$color_table-header: rgb(169, 169, 169);
$color_table-header-border: rgb(80,80,80);
$color_table-row-even: rgb(240,240,240);
$color_table-row-odd: rgb(220,220,220);
$color_table-border: rgb(180,180,180);
$color_row-hover: rgb(199, 227, 253);
$color_button-fg: rgb(100, 100, 100);
$color_button-hover: $yellow;
$color_filter-border: rgb(34, 121, 236);
$color_filter-bg: rgb(199, 227, 253);