@import "colors", "mixins";

#army_name {
  position: relative;
  width: 100%;
  height: 40px;
  padding: 0 50px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}

.edit-name {
  outline: none;
  height: 25px;
  width: 100%;
  padding: 0 5px;
  background-color: #eee;
  border: 1px solid $yellow;
  box-shadow: inset 1px 1px 3px $color_button-fg;
}

#garage-list {
  position: relative;
  flex: 1 0 0;
  display: flex;
  align-items: flex-start;
  font-size: 14px;
  overflow: scroll;

  @include mobile {
    flex: 1 1;
    height: 100%;
  }
}

#filter_panel {
  position: sticky;
  top: 40px;
  min-height: 35px;
  padding-right: 5px;
  flex: 0 1 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  
  @include mobile {
    padding: 0;
  }
}

#new_filter {
  display: flex;
  align-items: center;
  padding-right: 5px;
  
  select {
    height: 28px;
    background-color: white;
    border: 1px solid $color_filter-border;
    border-radius: 3px;
    font-size: 14px;
    padding: 4px 6px;
    margin-right: 5px;
  }
}

#filter_controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  label {
    padding: 8px;
    font-size: 14px;
    border-left: 1px solid $color_table-border;

    input {
      margin-right: 5px;
    }
  }
}

.combat-group {
  width: 100%;
}

.army-list {
  position: relative;
  width: 100%;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  overflow-y: scroll;

  @include mobile {
    flex: 1 1;
    width: 100%;
    overflow: auto;
  }
}

.unit-row {
  background-color: white;
  
  @include armyView {
    display: table-row;
  }

  &:first-child {
    .th {
      display: block;
    }
  }
}

.unit-stats {
  display: flex;
  flex-wrap: nowrap;
  background-color: $color_table-row-odd;

  @include armyView {
    @include mobile {
      display: flex;
      font-size: 12px;
    }
  }
  
  @include mobile {
    background-color: white;
    margin-bottom: 5px;
    flex-wrap: wrap;

    .th {
      display: block;
    }
  }

  &:nth-child(even) {
    background-color: $color_table-row-even;

    @include mobile {
      background-color: white;
    }
    
    .name,
    .controls {
      background-color: $color_table-row-even;
    }
  }
}

.stat-pair {
  display: table-cell;
  flex-wrap: wrap;
  flex-direction: column;
  border-bottom: 1px solid $color_table-border;

  &.controls {
    justify-content: flex-end;
  }

  &.controls, &.name {
    background-color: $color_table-row-odd;
  }

  .th {
    display: none;
    background-color: rgb(232, 232, 232);
    color: black;
    font-weight: 700;
    padding: 4px;
  }

  .td {
    padding: 4px;
  }

  .expanded {
    display: none;
    
    table {
      width: 100%;
    }
  }

  @include armyView {
    @include mobile {
      .expanded {
        display: block;
        overflow: auto;
      }
      .collapsed {
        display: none;
      }
    }
  }

  @include defaultView {
    display: none;
    flex-direction: row;

    &.controls {
      display: block;
    }
  
    &.name {
      display: block;
      flex: 1 0 auto;
      max-width: calc(100% - 84px);
  
      .th {
        display: none;
      }
    }
  
    &.tv {
      display: flex;
      flex-direction: row-reverse;
      flex-grow: 1;
  
      .th {
        display: block;
        background-color: transparent;
        font-weight: 400;
      }
    }
  }

  @include armyView {
    white-space: nowrap;

    &.name,
    &.controls {
      position: sticky;
      // background-color: $color_table-row-odd;
    }

    &.name {
      left: 25px;
    }

    &.controls {
      min-width: 25px;
      left: 0px;
      vertical-align: bottom;
    }
  }

  @include mobile {
    display: flex;
    flex-direction: row;
    width: 50%;

    .th {
      display: flex;
      width: 50%;
    }

    &.controls {
      width: 40px;
    }

    &.name {
      font-weight: 700;
      font-size: 18px;
      width: calc(67% - 40px);
    }

    &.ua {
      width: 67%;
    }

    &.name .th {
      display: none;
    }

    &.ar,
    &.a,
    &.gu,
    &.ew {
      width: 33%;
    }

    &.hs,
    &.pi {
      width: 34%;
    }

    &.rweapons,
    &.mweapons,
    &.traits,
    &.etc {
      width: 100%;

      .th {
        width: 100%;
      }

      .td {
        width: 100%;
      }
    }

    &.tv,
    &.mr {
      width: 33%;
    }

    &.type,
    &.height {
      display: none;
    }
  }
}

.unit-options {
  display: table-row;
  padding: 2px 4px;
  font-size: 12px;
}

.cg-header {
  position: sticky;
  left: 0;
  height: 45px;
  background-color: darkgray;
  padding: 3px 4px 15px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: stretch;
  font-weight: 700;
}

.cg-name {
  height: 40px;
}

.cg-roles {
  position: absolute;
  bottom: 2px;
  left: 5px;
  font-size: 11px;

  &.invalid {
    .role {
      color: $red;
    }
  }
}

.role {
  margin-right: 5px;
  color: black;

  &.invalid {
    color: $color_button-fg;
  }

  &.selected {
    color: $yellow;
    text-shadow: 0px 0px 3px black;
  }
}

.cg-list {
  width: 100%;
  border: 0;
  border-spacing: 0;
  flex: 1 0 auto;
  border-right: 2px solid darkgray;
  border-left: 5px solid darkgray;
  border-bottom: 2px solid darkgray;

  td {
    height: 20px;
    border-bottom: 0;
  }

  tr:nth-child(odd) {
    td {
      background-color: white;
    }
  }

  @include armyView {
    display: table;
    table-layout: fixed;
    width: auto;
    border: none;
    min-width: 100%;

    @include mobile {
      display: flex;
      flex-direction: column;
    }
  }
}

.unit-list {
  width: 100%;
  border: 0;
  border-spacing: 0;
  
  thead {
    border-collapse: collapse;
  }

  th {
    position: sticky;
    height: 40px;
    top: 0;
    z-index: 1;
    background-color: $color_table-header;
    color: black;
    border-right: 1px solid $color_table-header-border;
    padding: 0 6px;
    text-align: left;
    cursor: pointer;

    &.unit-name {
      z-index: 2;
    }
  }

  tr {
    width: 100%;

    &:hover td {
      background-color: $color_row-hover;
    }
    
    &.variant {
      .unit-name {
        border-top: 0;
        border-left: 5px solid $color_table-border;
      }
      
      td {
        border-top: none;
      }
    }
  }

  th:hover {
    background-color: $color_row-hover;
  }

  td {
    white-space: nowrap;
  }

  .unit-name {
    position: sticky;
    left: 0;
    border-right: 1px solid $color_table-border;
    box-shadow: 1px 0 3px rgba(0,0,0,.1);
  }

  .unit-controls {
    position: sticky;
    right: 0px;
    border-left: 1px solid $color_table-border;
    width: 40px;
    box-shadow: -1px 0 3px rgba(0,0,0,.1);
  }
}