@import "colors", "mixins";

#left_panel {
  position: relative;
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  border-right: 1px solid $color_table-border;

  @include mobile {
    width: 100%;
    height: calc(100% - 40px);
    border: none;

    @include defaultView {
      display: none;
    }
  }

  @include datacardView {
    flex: 1 0 auto;
    width: 100%;
  }

  @include armyView {
    flex: 1 1;
    width: 100%;
  }
}

#right_panel {
  display: flex;
  width: 80%;
  flex-direction: column;
  order: 2;
  z-index: 1;
  border-left: 5px solid white;

  @include mobile {
    width: 100%;
    height: calc(100% - 40px);
    border: none;
  }

  @include datacardView {
    display: none;
  }

  @include armyView {
    display: none;
  }
}

.view-toggle {
  appearance: none;
  border: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  position: sticky;
  top: 40px;
  order: 1;
  height: 40px;
  width: 40px;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 700;

  &:checked {
    display: none;
  }
}

#view_army {    
  margin-left: -40px;
  font-size: 0;

  @include mobile {
    margin-left: 0;
    width: 100%;
    background-color: black; 
  }

  @include armyView {
    display: none;
  }

  @include defaultView {
    @include arrowRight;
    @include mobile {
      font-size: 18px;
    }
  }

  @include datacardView {
    position: absolute;
    margin-left: 0;

    @include mobile {
      width: 40px;
    }

    @include barsIcon;
  }
}

#view_datacard {  
  margin-left: -40px;
  left: 0px;
  order: 0;

  @include mobile {
    width: 40px;
    margin-bottom: -40px;
  }

  @include datacardIcon;

  @include datacardView {
    display: none;
  }
}

#view_default {   
  top: 0;
  margin-left: -40px;
  background-color: black;
  font-size: 0;

  @include arrowLeft;

  @include mobile {
    margin-left: 0;
    width: 100%;
  }

  @include armyView {
    @include mobile {
      font-size: 18px;
    }
  }

  @include datacardView {
    position: absolute;
    margin-left: 0;
    right: 0;
    top: 40px;

    @include mobile {
      position: relative;
      top: 0;
    }
  }

  @include defaultView {
    display: none;
  }
}
