
@import "colors";

@mixin datacardView {
  .datacard & {
    @content;
  }
}
@mixin armyView {
  .army & {
    @content;
  }
}
@mixin defaultView {
  .default & {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin closeIcon {
  &::before, &::after {
    content:'';
    position: absolute;
    width: 13px;
    height: 3px;
    top: 9px;
    left: 4px;
    background-color: $color_button-fg;
  
    @include mobile {
      width: 18px;
      top: 11px;
    }
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(135deg);
  }
}
@mixin plusSign {
  &::before, &::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 3px;
    top: 9px;
    left: 4px;
    background-color: $color_button-fg;
  
    @include mobile {
      width: 18px;
      top: 11px;
    }
  }

  &::after {
    transform: rotate(90deg);
  }
}
@mixin barsIcon {
  &::before {
    position: absolute;
    top: 22px;
    left: 14px;
    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    border: none;
    background-color: $yellow;
    transform: none;
  }

  &::after {
    position: absolute;
    top: 13px;
    left: 14px;
    content: "";
    display: inline-block;
    width: 15px;
    height: 5px;
    border: none;
    background-color: $yellow;
  }
}
@mixin datacardIcon {
  &::before {
    position: relative;
    top: 3px;
    left: 14px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 17px;
    background-color: $yellow;
    border: 3px solid black;
  }

  &::after {
    position: relative;
    top: -2px;
    left: -8px;
    content: "";
    display: inline-block;
    width: 12px;
    height: 17px;
    background-color: $yellow;
    border: 3px solid black;
  }
}
@mixin arrowRight {
  height: 38px;
  width: 38px;
  top: 41px;

  @include mobile {
    border-radius: 0;
    transform: none;
    height: 40px;
    width: 100%;
    top: 40px;
  }

  &::before {
    position: relative;
    top: 0px;
    left: 5px;
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    border-right: 6px solid $yellow;
    border-top: 6px solid $yellow;
    transform: rotate(45deg);

    @include mobile {
      top: -4px;
      left: calc(100% - 40px);
      transform: rotate(135deg);
      border-color: $yellow;
    }
  }
}
@mixin arrowLeft {
  &::before {
    position: relative;
    top: 0px;
    left: 10px;
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    border-right: 6px solid $yellow;
    border-top: 6px solid $yellow;
    transform: rotate(-135deg);

    @include mobile {
      top: 4px;
      left: calc(100% - 40px);
      transform: rotate(-45deg);
    }
  }
}