@import "colors";

#modal {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  &.show {
    display: block;
  }
}

#modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: .5;
  background: black;
  z-index: 100;
}

#modal_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 445px;
  max-height: 90vh;
  display: flex;
  flex-flow: column nowrap;
  background: white;
  box-sizing: border-box;
  border-radius: 5px;
  border: solid 1px $color_table-border;
  box-shadow: 0 2px 4px 0 rgba(black, .25);
  z-index: 102;
}

.modal-scroll {
  overflow-y: scroll;
  flex-grow: 1;
}

#modal_save {
  display: flex;
  flex-direction: column;
  padding: 30px 10px 10px;

  textarea {
    font-size: 12px;
  }
}

#permalink_button {
  background-color: $color_filter-border;
  border: none;
  padding: 8px 0;
  margin-top: 10px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: background-color .2s;

  &.done {
    background-color: $green;
  }
}

#modal_traits {
  padding: 30px 10px 10px;
  font-size: 12px;
  overflow: hidden;
  display: flex;

  h2 {
    font-size: 18px;
  }

  .trait-row {
    margin-bottom: 10px;
  }
}

#modal_about {
  padding: 30px 10px 10px;

  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  br {
    margin-bottom: 10px;
  }
}
