@import "colors", "mixins";

.delete-button {
  position: relative;
  border: 2px solid transparent;
  background-color: transparent;
  border-radius: 7px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  
  @include mobile {
    height: 30px;
    width: 30px;
    border-weight: 3px;
  }

  &:hover {
    border-color: black;
    background-color: $color_button-hover;
    &::before, &::after {
      background-color: black;
    }
  }

  &::before, &::after {
    content:'';
    position: absolute;
    width: 13px;
    height: 3px;
    top: 9px;
    left: 4px;
    background-color: $color_button-fg;
  
    @include mobile {
      width: 18px;
      top: 11px;
    }
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(135deg);
  }
}

.add-button {
  position: relative;
  border: 2px solid transparent;
  background-color: transparent;
  font-weight: 700;
  border-radius: 7px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  
  @include mobile {
    height: 30px;
    width: 30px;
    border-weight: 3px;
  }

  &:not([disabled]) {
    &:hover,
    &.highlight {
      border-color: black;
      background-color: $color_button-hover;
      &::before, &::after {
        background-color: black;
      }
    }
  }

  @include plusSign;
}

.or-button {
  position: relative;
  border: 2px solid transparent;
  background-color: transparent;
  font-weight: 700;
  border-radius: 7px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  
  @include mobile {
    height: 30px;
    width: 30px;
    border-weight: 3px;
  }

  &:hover,
  &.highlight {
    border-color: black;
    background-color: $color_button-hover;
    &::before, &::after {
      background-color: black;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 13px;
    width: 3px;
    top: 4px;
    left: 5px;
    background-color: $color_button-fg;
  
    @include mobile {
      height: 18px;
      left: 7px;
    }
  }

  &::before {
    left: 12px;
  
    @include mobile {
      left: 16px;
    }
  }
}

.edit-pencil {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  cursor: pointer;

  &:before {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-2px, -3px) rotate(-45deg);
    width: 3px;
    height: 5px;
    background-color: $color_button-fg;
    box-shadow: 1px 0px 0px $color_button-fg, 
                2px 0px 0px $color_button-fg, 
                3px 0px 0px $color_button-fg, 
                -1px 0px 0px $color_button-fg, 
                -2px 0px 0px $color_button-fg, 
                -3px 0px 0px $color_button-fg, 
                -3.3px 0px 0px $color_button-fg, 
                7px 0px 0px $color_button-fg;
    content: '';
  }
  
  &:after {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-9px, 3px) rotate(-45deg);
    font-size: 1px;
    border: solid 3em transparent;
    border-left-width: 0;
    border-right-width: 5em;
    border-right-color: $color_button-fg;
    content: '';
  }

  &:hover {
    &:before {
      background-color: $yellow;
      box-shadow: 1px 0px 0px $yellow, 
                  2px 0px 0px $yellow, 
                  3px 0px 0px $yellow, 
                  -1px 0px 0px $yellow, 
                  -2px 0px 0px $yellow, 
                  -3px 0px 0px $yellow, 
                  -3.3px 0px 0px $yellow, 
                  7px 0px 0px $yellow;
    }
    &:after {
      border-right-color: $yellow;
    }
  }
}

#new_squad_btn {
  border: 0;
  width: 100%;
  height: 40px;
  border-radius: 0;
  background-color: $yellow;
  font-weight: 700;
  cursor: pointer;

  @include datacardView {
    display: none;
  }
}

.tag {
  position: relative;
  display: inline-block;
  font-size: 12px;
  background-color: $color_filter-bg;
  border: 2px solid $color_filter-border;
  padding: 4px 22px 4px 4px;
  border-radius: 13px;
  font-weight: bold;
  color: $color_filter-border;
  margin: 4px;

  .delete-tag {
    position: absolute;
    background-color: transparent;
    border: none;
    right: 17px;
    cursor: pointer;

    &::before, &::after {
      content:'';
      position: absolute;
      width: 13px;
      height: 3px;
      top: 6px;
      left: 0px;
      background-color: $color_filter-border;
    }
  
    &::before {
      transform: rotate(45deg);
    }
  
    &::after {
      transform: rotate(135deg);
    }
  }
}

.close-modal {
  position: absolute;
  top: 4px;
  right: 4px;
}

.popup-header {
  font-weight: 700;
  padding: 7px;
  border-bottom: 1px solid $color_table-border;
}

.popup-cg-label {
  background-color: $color_table-header;
  padding: 4px 6px;
  font-weight: 700;
  font-size: 12px;
}

.popup-squad-button {
  appearance: none;
  width: 100%;
  padding: 7px;
  display: block;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid $color_filter-bg;
  background-color: transparent;
  color: $color_filter-border;
  font-weight: 700;
  text-align: left;
  cursor: pointer;

  &:first-child {
    border-radius: 4px 0 0 0;
  }

  &.new-squad {
    position: relative;
    border-radius: 0 0 0 4px;
    border-bottom: 0;
    padding-left: 22px;

    @include plusSign;

    &::before {
      background-color: $color_filter-border;
      top: 15px;
      left: 5px;
    }

    &::after {
      background-color: $color_filter-border;
      top: 15px;
      left: 6px;
    }
  }

  &:hover {
    background-color: $color_row-hover;
  }
}
