@import "css/global", "css/layout", "css/widgets", "css/garage", "css/modal", "css/tooltip", "css/armylist", "css/filters";

* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
